# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# zkMe Configuration
EXPO_PUBLIC_ZKME_MCH_NO=your_zkme_merchant_number
EXPO_PUBLIC_ZKME_API_KEY=your_zkme_api_key

# Other Configuration
EXPO_PUBLIC_APP_ENV=development
